
<div class="banner-title banner-title-spaced hidden-xs">
  <h1>ELEPHANT<small> &amp; </small>CASTLE</h1>
</div>
<div class="banner-title hidden-sm hidden-md hidden-lg">
  <h1>ELEPHANT<small> &amp; </small>CASTLE</h1>
</div>
