<div class="footer-container">
  <ul class= "list-inline">
    <li><a href="https://www.facebook.com/adriekswsk"><i class="fa fa-facebook-official fa-fw bg-facebook" aria-hidden="true"></i></a></li>
    <li><a href="https://www.instagram.com/elephantncastle_/?hl=en"><i class="fa fa-instagram bg-instagram-footer fa-fw" aria-hidden="true"></i></a></li>
    <li><a href="mailto:adriana.kosowski.bba@edhec.com?Subject=Hello"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </li>
  </ul>
  <% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "footer-devise-link" %>
  <% else %>
  <%= link_to "Login", new_user_session_path, class: "footer-devise-link" %>
  <% end %>
</div>
