<div class="container">
  <div class="banner">
    <div class="banner-title"><h1>ELEPHANT<small> &amp; </small>CASTLE</h1></div>
    <div class="banner-image" style="background-image: url(<%= image_path "banner.png" %>);">
    </div>
  </div>

  <div class="left-container">

  </div>
</div>

