<div class="container">
  <div class="banner">
    <div class="banner-title"><h1>ELEPHANT<small> &amp; </small>CASTLE</h1></div>
    <div class="banner-image" style="background-image: url(<%= image_path "banner.png" %>);">
    </div>
  </div>
  <div class="row">

  <div class="col-xs-12 col-md-4">
    <div class="promo-card" style="background-image: url(<%= image_path 'instagram.jpg' %>);">
      <div class="promo-card-title">
        <h4>INSTAGRAM</h4>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="promo-card" style="background-image: url(<%= image_path "videos.jpg" %>);">
      <div class="promo-card-title">
        <h4>VIDEOS</h4>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="promo-card" style="background-image: url(<%= image_path "people.jpg" %>);">
      <div class="promo-card-title">
        <h4>PEOPLE OF THE WORLD</h4>
      </div>
    </div>
  </div>

</div>
  <div class="left-container">

  </div>
</div>

