 <div class="container full-screen">
   <div class="banner">
    <%= render "shared/banner-title" %>
    <div class="banner-image" style="background-image: url(<%= image_path @post.card_photo %>);">
    </div>
  </div>
  <h1><%= @post.title %></h1>
  <p><%= @post.content.html_safe %></p>
</div>
