.banner {
  height: calc(100vh - 130px);
}

.banner-title {
  text-align: center;
}

.banner-title h1 {
  font-weight: 100;
}

.banner-image {
  height: 80%;
  background-size: cover !important;
  background-position: center;
}

