.wysihtml5-sandbox {
  width: 100% !important;
  height: 500px !important;
  background-color: rgb(255, 255, 255) !important;
  border-collapse: separate !important;
  border-color: rgb(204, 204, 204) !important;
  border-style: solid;
  border-width: 1px !important;
  clear: none !important;
  display: block !important;
  float: none !important;
  margin: 10px auto !important;
  outline: rgb(85, 85, 85) none 0px !important;
  outline-offset: 0px !important;
  padding: 6px 12px !important;
  position: static !important;
  z-index: auto !important;
  vertical-align: baseline !important;
  text-align: start !important;
  box-sizing: border-box !important;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset !important;
  border-radius: 4px !important;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;
}

.bootsy_text_area {

}

.wysiwyg-float-left, .wysiwyg-float-right {
  float: none;
}
