.promo-cards {}

.promo-card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  align-items: center;
}

.promo-card h4 {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 3px;
}
