.promo-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.promo-card {
  height: 175px;
  width: 30%;
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
  background-size: cover !important;
  display: flex;
  justify-content: center;
  margin: 10px 5px;
  align-items: center;
  position: relative;
}

.promo-card h4 {
  font-size: 15px;
  background-color: white;
  text-align: center;
  color: black;
  padding: 5px;
  border-radius: 3px;
  transition-duration: .8s;
}

.promo-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.promo-card:hover h4 {
  color: white;
  background-color: transparent;
  transition-duration: .8s;
}

.promo-card-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
}
