.promo-cards {
  border-bottom: 0.5px solid rgba(33, 30, 30, 0.2);
  margin-bottom: 10px;
}

.promo-card {
  height: 175px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
  background-size: cover !important;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  align-items: center;
  position: relative;
}

.promo-card h4 {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 3px;
  transition-duration: .8s;
}

.promo-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.promo-card:hover h4 {
  color: white;
  background-color: transparent;
  transition-duration: .8s;
}
