.sidebar-content-title {
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #211e1e;
  border-radius: 3px;
  margin: 10px auto;
}
.sidebar-content-title h4,h5 {
  margin: 0 auto !important;
}

.sidebar-content-image {
  width: 100%;
  margin: 10px auto;
}

.sidebar-content-text {
  font-weight: 100;
  text-align: justify;
}

.sidebar-content-links {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-top: 0.5px solid rgba(33, 30, 30, 0.2);
  border-bottom: 0.5px solid rgba(33, 30, 30, 0.2);
}

.sidebar-content-links i {
  color: #211e1e;
  font-size: 24px;

}

.sidebar-content-links i:hover {
  color: #49B8F5;
  font-size: 24px;

}

.sidebar-content-email {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 3px;
  font-weight: 100;
}

.sidebar-content-email button {
  width: 100%;
  font-weight: 100;
}

.form-control {
  margin-bottom: 10px;
}

.product {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  position: relative;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
}
.product-body h3 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
}
.product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 140px;
}


/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}

.product-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
